*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 10px; */
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
}

main{
    display: flex;
    flex-flow: column;
    gap: 7.63rem;
    padding: 2.4rem;
}

h1, h2, h3, h4, a, p, strong, li, figcaption{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 4.5rem;
    line-height: 1;
}

h1::first-letter{
    font-size: 6.4rem;
}

h2{
    font-size: 3.2rem;
    line-height: 1.1;
}

h3{
    font-size: 2.4rem;
    line-height: 1.2;
}
figure{
    display: flex;
    flex-flow: column;
    align-items: center;
}


figure img{
    width: 30rem;
}

p{
    font-size: 1.8rem;
    line-height: 1.4;
}

figcaption{
    font-size: 1.2rem;
    font-style: italic;
}

/* LVHA */

a:link, a:visited{
    display: inline-block;
    color: #c44105;
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: double;
    text-decoration-line: underline;
}

a:hover, a:active{
    color: #0588c4
}

ul{
    margin-left: 2.4rem;
}

li{
    color: #035276;
    font-style: italic;
}

section{
    display: flex;
    flex-flow: column;
    gap: 3.12rem;
    align-items: center;
}

.realce-h1{
    color: #0588c4;
}

.realce-p{
    color: #0588c4;
    font-weight: bold;
}

.realce-italico {
    font-style: italic;
    color: #0588c4;
}

.realce-underline{
    color: #0588c4;
    text-decoration: underline;
}

hr{
    display: none;
}

.div-condicoes{
    display: inline-block;
    background-color: #035276;
    color: #fff;
    box-shadow: 0 0 1.6rem 0.4rem rgba(0, 0, 0, 0.15);
    padding: 2.4rem 3.2rem;
    border-radius: 2rem;
}

.div-condicoes .realce-italico, .div-condicoes .realce-underline{
    color: #78d4ff;
}

.img-wpp{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 8.5rem;    
}

.container-figure{
    display: flex;
    gap: 4.88rem;
}

.container-precocondicoes{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3.12rem;
}

.container-preco,
.div-condicoes{
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.container-listas{
    display: flex;
    gap: 4.88rem;
}
.container-lista{
    display: flex;
    flex-flow: column;
    gap: 2rem;
}